// Foundation settings and framework
@import "settings";
@import "../bower_components/foundation/scss/foundation.scss";
@import "loading";
@import "codemirror_overrides";

body {
	font-family: 'Source Sans Pro';
}

.top-bar, .top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button), .left-off-canvas-menu {
  background: #008cba;
  color: #fff;
}

li.name img {
  width: 45px;
  float: left;
  margin-right: 5px;
}

.side-nav {
  width: 80%;
  height: 100%;
  float: left;
  background: #008cba;
  z-index: 500;
  margin-left: 180px;
  margin-top: 40px;

  .fa-cog {
    margin-left: -10px;
  }

  .left-off-canvas-toggle{
    width: 20px;
  }

  ul {
  list-style: none;
  }
}

ul.off-canvas-list li label {
  background: #008cba;
  color: #fff;
  border-top: 1px solid #007095;
}

.right-small {
  border-left: 1px solid #007095;
}

.top-bar-section li:not(.has-form) a:hover:not(.button) {
  background: #007095;
}

.buttonarea {
  text-align: right;

  .button {
    margin-left: 5px;
  }
}

.columns {
  border: solid 1px #ccc;
  z-index: 10;
  background-color: #FFF;
}



.side-nav-right{
  float: right;
  margin-right: 10px;
  margin-top: -455px;
  width: 35px;

  img {
    width: 20px;
    margin-left: 10px;
  }
}

select {
    width: 68%;
}

.error-log {
    position: fixed;
    bottom: 0;

    button {
        margin-bottom: 0;
    }

    .scroller {
        transition: 0.5s;
        height: 0;
        overflow: hidden;
    }
    .scroller.visible {
        height: 120px;
    }

    .list {
        box-sizing: border-box;
        min-height: 120px;
        border: 1px solid $secondary-color;
        padding: 20px;
        margin: 0;
        overflow: auto;
    }
}

.tabs-content > .content {
    overflow: auto
}

.tabs .move {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 20px;
    color: $secondary-color;
    line-height: 100%;
    &:hover {
        color: $primary-color;
    }
}
