// Foundation settings and framework
@import "settings";
@import "../bower_components/foundation/scss/foundation.scss";
@import "loading";
@import "codemirror_overrides";
@import "results";
@import "graphs";

body {
    font-family: 'Source Sans Pro';
}

.top-bar, .top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button) {
    background: $primary-color;
    color: #fff;
}

.name {
    width: 225px;
}

li.name img {
    width: 45px;
    float: left;
    margin-right: 5px;
}


.side-nav {
    width: 3%;
    float: left;
    margin-left: -3%;

    ul {
        list-style: none;
        margin: 0;
    }
    li a:not(.button) {
        padding-left: 0;
        padding-right: 0;
        display: block;
        text-align: center
    }

    svg {
        width: 17px;
        height: 17px;
    }
}

.toggle:hover {
    cursor: pointer;
}

ul.off-canvas-list li label {
    background: #008cba;
    color: #fff;
    border-top: 1px solid #007095;
}

.right-small {
    border-left: 1px solid #007095;
}

.top-bar-section li:not(.has-form) a:hover:not(.button) {
    background: #007095;
}

.buttonarea {
    text-align: right;

    .button {
        margin-left: 5px;
    }
}

.columns {
    border: solid 1px #ccc;
    background-color: #FFF;
    &:last-child {
        border-left: none
    }
}

.main-section.full {
    > .row {
        max-width: none;
    }
    .off-canvas-wrap {
        width: 97%;
    }
    .side-nav {
        margin-left: 0;
    }
}

.side-nav-right {
    float: right;
    margin-right: 10px;
    margin-top: -455px;
    width: 35px;

    img {
        width: 20px;
        margin-left: 10px;
    }
}

select {
    width: 68%;
}

.error-log {
    position: fixed;
    bottom: 0;
    z-index: 999;

    button {
        margin-bottom: 0;
    }

    .scroller {
        transition: 0.5s;
        height: 0;
        overflow: hidden;
    }
    .scroller.visible {
        height: 120px;
    }

    .list {
        box-sizing: border-box;
        min-height: 120px;
        border: 1px solid $secondary-color;
        padding: 20px;
        margin: 0;
        overflow: auto;
        background-color: #fff;
    }
}

.tabs-content > .content {
    overflow: auto
}

.tabs .move {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 20px;
    color: $secondary-color;
    line-height: 100%;
    &:hover {
        color: $primary-color;
    }
}

.sidebar-controls {
    float: left;
    width: 44px;
    margin-left: -44px;

    ul {
        margin-left: 0;
        padding-left: 0;
    }
    a {
        width: 40px;
        padding: 0;
    }
}

.right-side-toggle {
    .query {
        display: none;
    }

    &.active {
        svg {
            display: none;
        }
        svg.query {
            display: inline;
        }
    }
}

.fullscreen-toggle {
    .fullscreen-close {
        display: none;
    }

    &.active {
        svg {
            display: none;
        }
        svg.fullscreen-close {
            display: inline;
        }
    }
}

.inner, .inner-wrap, .main-section, .row, .off-canvas-wrap, #wrapper_main, .inner-wrap > div, .tabs-container, .tabs-content {
    height: 100%;
}
.main-section {
    height: calc(100% - 2.8125rem - 30px);
    position: relative;
    top: 15px;
}
.tabs-content .content {
    height: 93%;
}

.CodeMirror {
    height: 91%;
}

.query {
    height: calc(100% - (37px + 1rem));
}

#send_rdf {
    position: absolute;
    top: 1.5rem;
    left: 0.7rem;
}

div.read-only {
    pointer-events: none;
    opacity: 0.5
}

.tabs a {
    box-shadow: inset rgba(0,0,0,0.2) 0 -5px 5px -5px;
}

.tabs dd.active a {
    box-shadow: inset $primary-color 0 3px 0 0;
}
